# ignora la carpeta calculadora 
calculadora

#ignora la carpeta calculadora-imc 
calculadora-imc

#ignora carpeta contador 
contador

# ignora carpeta spacex 
spacex-missions 

# ignora carpeta
tictactoe-game 

#ignora carpeta 
mi-app
